<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sphtech.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C46A505121ECA56A00BBAC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46A506921ECA56B00BBAC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46A507421ECA56B00BBAC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C46A50FB21EE290400BBAC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
